@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Delius&family=Schoolbell&family=Architects+Daughter&display=swap');

@theme {
  --font-cursive: "Caveat", cursive;
  --font-school: "Schoolbell", cursive;
  --font-handwriting: "Delius", cursive;
  --font-architect: "Architects Daughter", cursive;
}

@utility perspective-1000 {
  perspective: 1000px;
}

@utility transform-style-3d {
  transform-style: preserve-3d;
}

@utility backface-hidden {
  backface-visibility: hidden;
}

@utility rotate-y-180 {
  transform: rotateY(180deg);
}

@utility animate-spin-slow {
  animation: spin 8s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
